.hero__show-more-block
    position: absolute
    background-color: #F8F200
    width: 625px
    height: 370px
    clip-path: polygon(50px 0,100% 0,100% calc(100% - 50px), calc(100% - 50px) 100%,0 100%,0 50px)
    margin: -372px 0px 0px 500px

.hero__h1
    font-family: 'archangelsk-regular'
    font-weight: 400
    font-size: 62px
    margin-bottom: 25px

.hero__show-more-wrapper
    padding: 70px 70px 0px 70px

.hero__button
    background-color: black
    color: #F8F200
    padding: 19px 50px
    font-weight: 700
    font-size: 24px
    transition: 0.6s

.hero__button:hover
    background-color: #414141

.hero
    margin-bottom: 70px

.slider__container
    max-width: 1920px
    margin: 0 auto

@media (max-width: 1350px)
    .hero__show-more-block
        margin: -372px 0px 0px 295px

@media (max-width: 970px)
    .hero__show-more-block
        margin: -372px 0px 0px 60px

@media (max-width: 700px)
    .hero__show-more-wrapper
        padding: 30px 30px 0px 42px
    .hero__h1
        font-size: 30px
    .hero__show-more-block
        width: 320px
        height: 207px
        margin: -372px 0px 0px -12px
    .hero__button
        padding: 15px 34px
    .header__content
        flex-direction: column
    .header__social-media-icon
        margin-right: 20px
